<div class="container pt-5">
    <h2>Dashboard</h2>
    <div class="flex text-center">
        <button type="button" class="btn btn-primary mr-2" (click)="addVehicle()"
        style="margin-right: 20px;">Add Vehicle</button>
        
        <button type="button" class="btn btn-info" (click)="listVehicle()">Vehicle List</button>
    </div>
    <!-- <div style="display: flex; justify-content: space-around; margin-top: 20px;">
      <div style="width: 40%;">
        <h3>Pie Chart</h3>
        <app-pie-chart></app-pie-chart>
      </div>
      <div style="width: 40%;">
        <h3>Line Chart</h3>
        <app-line-chart></app-line-chart>
      </div>
    </div> -->
    <!-- <button (click)="showSuccess()">Show Success Notification</button>
    <button (click)="showError()">Show Error Notification</button> -->
  </div>