<div class="p-5">
    <span class="mb-5 back" (click)="goBack()">Back</span>
    <div class="container mt-5">
        <h2 class="mb-5">Parking Vehicle List</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Vehicle Number</th>
              <th scope="col">Vehicle Type</th>
              <th scope="col">License Number</th>
              <th scope="col">Entry Time</th>
              <th scope="col">Entry Time</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of listVehicle">
              <td>{{ vehicle.ownerName }}</td>
              <td>{{ vehicle.vehicleType | titlecase }}</td>
              <td>{{ vehicle.licenseNumber }}</td>
              <td>{{ vehicle.entryTime | date:'medium' }}</td>
              <td>{{ vehicle.exitTime | date:'medium'  }}</td>
              <td>{{ vehicle.status | titlecase }}</td>
              <td>
                <button class="btn btn-primary" (click)="editVehicle(vehicle)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

      
  